.card {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 30vh;
    margin: 20px 10px;
    &:hover {
      transform: scale(1.05);
      transition: 0.6s;
      box-shadow: 2px 15px 30px 0px rgba(0, 0, 0, 0.4);
    }
  }
  
  .cardHead {
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.459);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.3em 1em;
  }
  
  .cardHead__title {
    h5 {
      margin: 0;
    }
  }
  
  /*Badges*/
  .cardHead__badge {
    font-size: 100%;
  }
  .badge-Adoptado{
    color: #fafafa;
    background-color:#007bff;
  }
  .badge-Adopcion{
    color: #fafafa;
    background-color:#28a745;
  }
  .badge-Perdido{
    color: #242424;
    background-color:#ffc107;
  }